[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
flake8 = "*"
psycopg2-binary = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
coverage = "*"
pytest-django = "*"
pytest = "*"
coveralls = "*"
django-cors-headers = "*"
python-decouple = "*"
gunicorn = "*"
favorite-things = {editable = true,path = "."}

[requires]
python_version = "3.7"
