[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
favorite-thing = {editable = true,path = "."}

[packages]
django = "*"
flake8 = "*"
psycopg2-binary = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
coverage = "*"
pytest-django = "*"
pytest = "*"
coveralls = "*"
django-safedelete = "*"

[requires]
python_version = "3.7"
